@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Puzzle 59</h1>

<p>This is a .NET 9 Blazor Web App with global server interactivity.</p>

<p>Our customer has requested we allow currency (decimal) values to be formatted with a $, and made editable.</p>

<p>We can not use a third-party tool. We must use a standard HTML input tag.</p>

<p>How can we allow editing and still format the value as currency rounded to two decimal places and including a dollar sign?</p>

<p>Non-numeric values should be ignored, as should numbers two places to the right of the decimal point.</p>

<input style="text-align:right;font-weight:bold;" @bind="@MyCurrencyValue" />
<br />
<br />
<button>Dummy Button</button>

@code {
    
    decimal MyCurrencyValue { get; set; } = 0;
}

